@font-face {
    font-family: Abel;
    src: url('../fonts/Abel,Josefin_Sans/Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Josefin_Sans;
    src: url('../fonts/Abel,Josefin_Sans/Abel/Josefin_Sans-Regular.ttf');
}